<!DOCTYPE html>
<html>
<head>
    <title>Mini SIEM Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Mini SIEM Dashboard</h1>

<h2> Attacks per IP</h2>
<canvas id="chart"></canvas>

<h2> Alerts Table</h2>
<table border="1">
    <thead>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>User</th>
            <th>IP</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody id="alertTable"></tbody>
</table>

<script>
async function loadData() {
    const res = await fetch('/api/alerts');
    const data = await res.json();

    // -------- TABLE --------
    let table = document.getElementById("alertTable");
    table.innerHTML = "";

    data.forEach(alert => {
        let row = `<tr>
            <td>${alert.timestamp || ""}</td>
            <td>${alert.type || ""}</td>
            <td>${alert.user || "-"}</td>
            <td>${alert.ip || ""}</td>
            <td>${alert.message || ""}</td>
        </tr>`;
        table.innerHTML += row;
    });

    // -------- GRAPH --------
    let ipCount = {};

    data.forEach(alert => {
        if (alert.ip) {
            ipCount[alert.ip] = (ipCount[alert.ip] || 0) + 1;
        }
    });

    const labels = Object.keys(ipCount);
    const values = Object.values(ipCount);

    new Chart(document.getElementById('chart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Attacks per IP',
                data: values
            }]
        }
    });
}

// Auto refresh every 5 seconds
setInterval(loadData, 5000);
loadData();
</script>

</body>
</html>
